{% extends 'base.html.twig' %}

{% block body %}

<div>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
</div>
    {{ form_widget(form) }}
    <div>
    <button type="submit">Add program</button>
    </div>
    {{ form_end(form) }}
{% endblock %}