<nav class="navbar navbar-light nav-color border-bottom-color shadow p-2">
  <div class="container-fluid d-flex align-items-center">
   <a href="/" class="navbar-logo"><img src="{{ asset('/build/images/Logoprincipal.png') }}" class="img-fluid"></a>
   <div>
            <div class="navbar-nav me-auto mb-2 mb-lg-0 d-inline">
                
                    <a class="navlink text-decoration-none px-3 mx-5" href="/program/">Series</a>
                
                    <a class="navlink text-decoration-none px-3" href="{{ path('actor_index') }}">Actors</a>
                
            </div>
        </div>
    <form class="d-flex ms-4">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="bouton btn-color" type="submit">Search</button>
    </form>
        <div>
            <div class="navbar-nav me-auto mb-2 mb-lg-0 d-inline">
        
                    <a class="navlink text-decoration-none px- mx-5" href="#">Login</a>
                
        
                    <a class="navlink text-decoration-none px-3" href="#">Register</a>
                
            </div>
        </div>
    </div>
  </div>
</nav>